<h1>Privacy Policy</h1>

<p>This privacy policy governs your use of the software application K Hotel (“Application”) for mobile devices that was created by Automated Hotel for the K Hotel Bahrain (“Hotel”). The Application is Basic description of the app (features, functionality and content)</p>

<p>The Application obtains the information you provide when you download and use the Application. Registration with us is optional. However, please keep in mind that you may not be able to use some of the features offered by the Application unless you register with us. When you register with us and use the Application, you generally provide (a) your name, email address, password and other registration information; (b) request-related information, such as when you make requests from the Hotel; (c) information you provide us when you contact us for help, and; (d) information you enter into our system when using the Application, such as contact information and reservation information associated with the Hotel, including but not limited to the name reservation is under, confirmation code, room number, check-in date, check-out date, gender and any other information that the Hotel has related to you and your reservation.</p>

<p>We may use the information for assessments and actions, including but not limited to understanding your preferences and likes, showing you promotions based on your activities, and allowing the Hotel to use this data.</p>

<p>We may also use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions.</p>

<p>In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application.</p>

<p>Aggregated, anonymized data may be periodically transmitted to external services to help us improve the Application and our service.</p>

<p>We may disclose User Provided and Automatically Collected Information:</p>

<ul>
  <li>as required by law, such as to comply with a subpoena, or similar legal process; </li>
  <li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request; </li>
  <li>with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</li>
  <li>with the K Hotel and other hotels that belong to the Gulf Hotels Group.</li>
  <li>with any other of our clients in anonymized form.</li>
  <li>if Automated Hotel is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information. </li>
</ul>

<p>You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at privacy@automatedhotel.com.</p>

<p>We will retain User Provided and Automatically Collected information unless you specifically ask us to delete it. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at privacy@automatedhotel.com and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p>

<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy at khotel.automatedhotel.com/privacy_policy. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.</p>