# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

# Ignore Byebug command history file.
.byebug_history

# Ignore the IDEA settings files.
/.idea/workspace.xml
/.idea/tasks.xml

# Miscellaneous
.DS_Store

# Images uploaded by Paperclip.
/public/system/