<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
A new room service order has been placed on <%= @order.created_at.to_s(:short) %>.
Please check the system to see the details of the order.
</body>
</html>